html,body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.jumbotron {
  padding-top: 8rem;
  /* background-color: #e2edff; */
  background-color: #41464b;
  color: #ffffff;
}

#projects {
  background-color: #41464b;
}

#projects h2 {
  color: #ffffff;
}

.social-media a {
  margin: 0px 10px;
}

.social-media i {
  font-size: 2rem;
}

section {
  padding-top: 5rem;
}
